.start{
    display: flex;
    align-items: center;
    background-color: #e5547342;
 height: 750px;
 width: 1820px;
 justify-content: space-between;
 padding: 20px 40px 30px 150px;
}
.start-image{
   width: 635px;
   height: 800px;
}
.start-button{
    padding: 25px;
    border-radius: 10px;
    background-color: #E55473;
    font-size: 20px;
    font-weight: 700;
}
.start-headin{
    font-size: 70px;
}
.start-pera{
    font-size: 25px;
    font-style: italic;
}
.second-step-pera{
font-size: 20px;
}
.second-step-hed{
    font-size: 40px;

}
.second-step{
text-align: center;
}
.third-part{
   align-items: center;
   justify-content: center;
   display: flex;
}
.first-img{
    background-color: #0597a0;
    height: 605px;
    width: 464px;
   border-radius: 500%;
}
.second-img{
   background-color:#a72174;
    height: 605px;
    width: 464px;
   border-radius:500%;}


.third-img{
    background-color:#477D11;
     height: 605px;
     width: 464px;
    border-radius:500%;}
    a{
        font-size: x-large;
        padding: 0px 0px 0px 150px;
    }
    .first-main{
        display: flex;
        align-items: center;
        background-color: #e5547342;
     height: 750px;
     width: 1820px;
     justify-content: space-between;
     padding: 20px 140px 30px 150px;
     margin-top: 40px;
    }
    .forth-step{
   font-style: italic;
   font-size: 20px;
    }
    .fifth-img{
   height: 396px;
   width: 342px;
   display: flex;
 padding-left: 280px;
 gap: 20px;
 
    }
    .sixth-image{
        background-color: #e554739c;
        
        height: 396px;
   width: 332px;
    }
   .sixt-image{
background-color: gray;
   }
   .input-container{
    width: 700px;
    height: 62px;
   }
.sevnth-part{
    text-align: center;
background-image: url(./flower-shop-assignment/Rectangle\ 9.png);
padding: 100px;
margin-top: 20px;
margin-bottom: 20px;
}
.span-container{
    color:#e55473;
}
.footer-container{
    text-align: center;
    padding: 100px;
    background: color #1e1e1e;;
}
.footer-pera{
    color: white;
}
.footer-color{
    color: gold;
}